# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
	'.tree-view .file span[data-name$=".js"]': [
		{label: 'Make me a coffee', command: 'make-coffee:convert'}
	]
	'.tree-view .directory': [
		{label: 'Make web component', command: 'make-coffee:component'}
		{label: 'Rename web component', command: 'make-coffee:rename_component'}
	]
